<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Profile</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/TeacherProfile.css' %}" />
  </head>
  <body>
    <div class="container-xl px-4 mt-4">
      <!-- Account page navigation-->
      <nav class="nav nav-borders">
        <h2>Oriwo Boys High School</h2>
      </nav>
      <hr class="mt-0 mb-4" />
      <div class="row">
        <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
              <!-- Profile picture image-->
              <img
                class="img-account-profile rounded-circle mb-2"
                src="http://bootdey.com/img/Content/avatar/avatar1.png"
                alt=""
              />
              <!-- Profile picture help block-->
              <div class="small font-italic text-muted mb-4">
                JPG or PNG no larger than 5 MB
              </div>
              <!-- Profile picture upload button-->
              <button class="btn btn-primary" type="button">
                Upload new image
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
            <div class="card-header">Update Details</div>
            <div class="card-body">
              <form method="PUT" action="{% url 'teacherprofile' %}">
                <!-- Form Group (username)-->
                {% csrf_token %}
                <div class="mb-3">
                  <label class="small mb-1" for="inputUsername"
                    >Username (selected name used during login)</label
                  >
                  <input
                    class="form-control"
                    id="inputUsername"
                    type="text"
                    placeholder="Enter your username"
                  />
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (first name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputFirstName"
                      >First name</label
                    >
                    <input
                      class="form-control"
                      id="inputFirstName"
                      value="{{ User.firstname }}"
                      type="text"
                      placeholder="Enter your first name"
                    />
                  </div>
                  <!-- Form Group (last name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputLastName"
                      >Last name</label
                    >
                    <input
                      class="form-control"
                      id="inputLastName"
                      value="{{ User.lastname }}"
                      type="text"
                      placeholder="Enter your last name"
                    />
                  </div>
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (TSC Number)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputTSCNumber"
                      >TSC Number</label
                    >
                    <input
                      class="form-control"
                      id="inputTSCNumber"
                      value="{{ User.tscnumber }}"
                      type="text"
                      placeholder="Enter your tsc number"
                    />
                  </div>
                  <!-- Form Group (address)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputAddress">Address</label>
                    <input
                      class="form-control"
                      id="inputAddress"
                      value="{{ User.address }}"
                      type="text"
                      placeholder="Enter your address"
                    />
                  </div>
                </div>
                <!-- Form Group (email address)-->
                <div class="mb-3">
                  <label class="small mb-1" for="inputEmailAddress"
                    >Email address</label
                  >
                  <input
                    class="form-control"
                    id="inputEmailAddress"
                    value="{{ User.emailaddress }}"
                    type="email"
                    placeholder="eg. name@example.com"
                  />
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (phone number)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputPhone"
                      >Phone number</label
                    >
                
                    <input
                      class="form-control"
                      id="inputPhone"
                      type="tel"
                      value="{{ User.phonenumber }}"
                      placeholder="Enter your phone number"
                    />
                  </div>
                  <!-- Form Group (birthday)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputBirthdate"
                      >Date of Birth</label
                    >
                    <input
                      class="form-control"
                      id="inputBirthdate"
                      type="date"
                      value="{{ User.dateofbirth }}"
                      name="birthdate"
                      placeholder="Enter your date of birth"
                    />
                  </div>
                </div>
                <a href="{% url 'teacherHomepage' %}">Back</a>
                </button>
                <button class="btn btn-primary" type="submit">
                  Save changes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
