<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Home Page</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/TeacherHomePage.css' %}" />
    <script
      src="https://kit.fontawesome.com/f01816683f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <header class="header">Main Menu</header>
        <ul>
          <li>
            <a href="#"
              ><i class="fa-solid fa-house" aria-hidden="true"></i>Dashboard</a
            >
          </li>
          <li>
            <a href="{% url 'teacherprofile' %}"
              ><i class="fa-solid fa-user" aria-hidden="true"></i>My Profile</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-link" aria-hidden="true"></i>Shortcuts</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-stream" aria-hidden="true"></i>Overview</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-calendar" aria-hidden="true"></i>Events</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-question-circle" aria-hidden="true"></i
              >Help</a
            >
          </li>
        </ul>
      </div>
      <div class="subcontainer">
        <div class="top-nav">
          <i class="fa-solid fa-bars"></i>
          <h2>Oriwo Boys High School</h2>
          <h3>Motto: Mbele Daima</h3>
          <h3><a href="{% url 'logout' %}">Log out</a></h3>
        </div>

        <div class="content">
          <a class="Activities" href="{% url 'registration' %}">
            <i class="fa-solid fa-registered"></i>

            <h3>Register Student</h3>
            <p>New students are required to be registered into the system</p>
          </a>
          <a class="Activities" href="#">
            <i class="fa-solid fa-envelope"></i>
            <h3>Notifications</h3>
            <p>New and evolving actities important to the teacher</p>
          </a>
          <a class="Activities" href="{% url 'markentry' %}">
            <i class="fa-solid fa-marker"></i>

            <h3>Add Marks</h3>
            <p>Student performances update and report forms</p>
          </a>
          <a class="Activities" href="#">
            <i class="fa-sharp fa-solid fa-calendar-days"></i>
            <h3>Calendar</h3>
            <p>Important school Term dates to the teacher</p>
          </a>
          <a class="Activities" href="#">
            <i class="fa-solid fa-bars-progress"></i>
            <h3>Teacher Progress</h3>
            <p>
              All about how the performance of a teacher is ranked in accodance
              to the performance
            </p>
          </a>
        </div>
      </div>
    </div>
    <script src="{% static 'js/TeacherHomePage.js' %}"></script>
  </body>
</html>
